body {
  padding: 0px;
  margin: 0px;
}

.step6-head {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  padding: 1rem;
  font-family: "Roboto Condensed", sans-serif;
  align-items: center;
}

.step6-text {
  padding-top: 3rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
}

.step6-txt {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
}

.step6-btnn {
  background-color: #01b600;
  width: 200px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
}

.step6-btn {
  display: flex;
  justify-content: center;
}
