.change-root {
  height: 100vh;
  display: grid;
  grid-template-rows: 10% auto 40%;
}

.change-head {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  padding: 0.5rem;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
}
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");

body {
  padding: 0px;
  margin: 0px;
}

.changeinp {
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  height: 2rem;
  width: 18rem;
  border-radius: 4px;
  margin: 1rem;
  padding: 0.2rem;
  padding-left: 1rem;
}

.changebdy-up {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-top: 4rem;
}

.changeister-btn {
  background-color: #01b600;
  width: 200px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  color: white;
  font-weight: bold;
}

.changeister-buttons {
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
}

.changeimg {
  display: flex;
  justify-content: center;
  padding-bottom: 1.5rem;
}

.fpasssi {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
