.auto-head {
  background-color: #282c34;
  color: white;
  font-size: 2rem;
  padding: 0.8rem;
  font-family: "Roboto", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: grid;
  grid-template-columns: 5fr 1fr;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.auto-header {
  display: flex;
  justify-content: left;
}

.auto-back {
  filter: invert(1);
}

.auto-spacer {
  padding-top: 4rem;
}

.auto-footer {
  background-color: #282c34;
  position: fixed;
  bottom: 0;
  width: 100%;
  position: fixed;
  width: 100%;
}

.auto-homeico {
  filter: invert(1);
  padding: 0.5rem;
  float: left;
  padding-left: 1rem;
}

.auto-homeico2 {
  filter: invert(1);
  padding: 0.5rem;
  float: left;
  padding-left: 3rem;
}

.auto0-bodyhead {
  display: flex;
  justify-content: left;
}
