@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.h-head {
  background-color: #282c34;
  color: white;
  font-size: 2rem;
  padding: 0.8rem;
  font-family: "Roboto", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: grid;
  grid-template-columns: 5fr 1fr;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.h-back {
  filter: invert(1);
}

.h-header {
  display: flex;
  justify-content: left;
}

.h-vr {
  background-color: black;
  color: black;
}

.hi-div {
  padding: 12px 30px;
  background: whitesmoke;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  margin-top: 15px;
  box-shadow: 0px 7px 19px 0px #6d696961;
  width: 15rem;
  height: 5rem;
  border-radius: 10px;
  border: 1px solid #282c34;
}

.hi-status {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.h-spacer {
  padding-top: 5rem;
}

.h-footer {
  background-color: #282c34;
  position: fixed;
  bottom: 0;
  width: 100%;
  position: fixed;
  width: 100%;
}

.h-homeico {
  filter: invert(1);
  padding: 0.5rem;
  float: left;
  padding-left: 1rem;
}

.h-histico {
  filter: invert(1);
  padding: 0.5rem;
  float: left;
  padding-left: 3rem;
}

.homel1 {
  padding: 0.5rem;
  font-size: 1.5rem;
}

.homel11 {
  padding: 0.5rem;
  font-size: 1.5rem;
  border-bottom: 4px solid blue;
}

.home-locs {
  display: flex;
  justify-content: left;
}

.h-rule {
  padding: 0;
  margin: 0px;
}

.h-item {
  font-size: 1.5rem;
  padding: 1rem;
  border-bottom: 1px solid #ececec;
  display: grid;
  grid-template-columns: 5fr 1fr;
  font-family: "Roboto", sans-serif;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.hi-div-hubs {
  padding: 0.2rem;
}
